.container {
  display:flex;
  justify-content: space-between;
}

.container div {
  width:5em;
  height:5em;
  background:#000;
}

.container div.background {
  background: purple;
}

.testcolor div {
  background: blue;
}
